<html>
    <head>
        <meta charset="utf-8">
        <style>
            body { size: A4 }
        </style>
    </head>
    <body>
        <div style="text-align: right">Issue date: <%= @issue_date %></div>
        <h1 style="display: block; margin: auto; text-align: center">Fee Report</h1>
        <section><%= @customer["name"] %></section>
        <section>Total amount: <%= delimit_num(@amount) %></section>

        <table style="width: 100%">
            <thead>
                <th>#</th>
                <th>Customer Name</th>
                <th>Item Name</th>
                <th>qty</th>
                <th>Sales</th>
                <th>Fee</th>
            </thead>
            <tbody>
                <% @items.each.with_index(1) do |item, i| %>
                    <tr class="item">
                        <td class="unit"><%= i %></td>
                        <td><%= item["customer_name"] %></td>
                        <td><%= item["name"] %></td>
                        <td class="unit"><%= item["qty"] %></td>
                        <td class="price"><%= delimit_num( item["price"] * item["qty"] ) %></td>
                        <td class="price"><%= delimit_num( item["fee"] ) %></td>
                    </tr>
                <% end %>
                    <tr>
                        <td class="price" colspan="3">Subtotal</td>
                        <td class="price"><%= delimit_num( @sales_fee['fee'] ) %></td>
                    </tr>
                    <tr>
                        <td class="price" colspan="3">Tax</td>
                        <td class="price"><%= delimit_num( @sales_fee['tax'] ) %></td>
                    </tr>
                    <tr>
                        <td class="price" colspan="3">Deduction</td>
                        <td class="price"><%= delimit_num( @sales_fee['deduction'] ) %></td>
                    </tr>
                    <tr>
                        <td class="price" colspan="3">Total</td>
                        <td class="price"><%= delimit_num(@sales_fee['fee'] + @sales_fee['tax'] + @sales_fee['deduction']) %></td>
                    </tr>
        </table>

        <section>
        <div><%= @company["name"] %></div>
        <div><%= @company["address"] %></div>
        <div><%= @company["address2"] %></div>
        </section>
    </body>
</html>
