<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
         td { text-align: right; line-height: 2em; min-width: 6em }
         thead th, thead td { text-align: center }
         tr.sub { font-size: .8em; color: #aaa }
         .past { color: #777 }
        </style>
    </head>
    <body>
        <div style="margin: 1em 0"><%= @company %></div>
        <div style="margin: 1em 0">Issue date: <%= @issue_date %></div>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Customer</th>
                    <th>Amount</th><th>Tax</th>
                    <th class="past">Amount</th><th class="past">Tax</th>
                </tr>
                <tr class="sub">
                    <th></th>
                    <th></th>
                    <th>This month</th><th>This month</th>
                    <th>Last Month</th><th>Last Month</th>
                </tr>
            </thead>
            <tbody>
                <% @invoices.each.with_index(1) do |invoice, i| %>
                    <tr>
                        <th><%= i %></th>
                        <td><%= invoice["customer_name"] %></td>
                        <td><%= delimit_num(invoice["amount1"]) %></td><td><%= delimit_num(invoice["tax1"]) %></td>
                        <td class="past"><%= delimit_num(invoice["amount2"]) %></td><td class="past"><%= delimit_num(invoice["tax2"]) %></td>
                    </tr>
                <% end %>
                <tr>
                    <td></td>
                    <td>Total (<%= @total_count %> records)</td>
                    <td><%= delimit_num(@total_amount) %></td><td><%= delimit_num(@total_tax) %></td>
                    <td></td><td></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
