<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
         td { text-align: right; line-height: 2em; min-width: 6em }
         thead th, thead td { text-align: center }
         thead { border-bottom: solid 1px #aaa }
         tr#total { border-top: solid 1px #aaa }
         tr.sub { font-size: .8em; color: #aaa }
         .past { color: #777 }
        </style>
    </head>
    <body>
        <div style="margin: 1em 0"><%= @company %></div>
        <div style="margin: 1em 0">Issue date: <%= @issue_date %></div>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Customer</th>
                    <th>This month</th>
                    <th>Last Month</th>
                    <th>2 Month ago</th>
                </tr>
                <tr class="sub">
                    <th></th>
                    <th></th>
                    <th>Amount / Tax</th>
                    <th class="past">Amount / Tax</th>
                    <th class="past">Amount / Tax</th>
                </tr>
            </thead>
            <tbody>
                <% @invoices.each.with_index(1) do |invoice, i| %>
                    <tr>
                        <th><%= i %></th>
                        <td><%= invoice["customer_name"] %></td>
                        <td><%= delimit_num(invoice["amount1"]) %><br /><%= delimit_num(invoice["tax1"]) %></td>
                        <td class="past"><%= delimit_num(invoice["amount2"]) %><br /><%= delimit_num(invoice["tax2"]) %></td>
                        <td class="past"><%= delimit_num(invoice["amount3"]) %><br /><%= delimit_num(invoice["tax3"]) %></td>
                    </tr>
                <% end %>
                <tr id="total">
                    <td></td>
                    <td>Total (<%= @total_count %> records)</td>
                    <td><%= delimit_num(@total_amount) %><br /><%= delimit_num(@total_tax) %></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div style="margin: 1em 0"><%= @legend %></div>

        <% if ! @unsettled.empty? %>
            <h3 style="margin: 1em 0">Unsettled</h3>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Customer</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <% @unsettled.each.with_index(1) do |record, i| %>
                        <tr>
                            <th><%= i %></th>
                            <td><%= record['customer'] %></td>
                            <td><%= record['unsettled'] %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        <% end %>
    </body>
</html>
